{
  "openapi": "3.0.0",
  "info": {
    "title": "MetaAds front",
    "description": "Meta ads front-end API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://metaads.team/tornado",
      "description": "MetaAds API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "get authorise key",
        "description": "Get authorise key",
        "parameters": [
          {
            "name": "login",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JWT key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          }
        }
      }
    },
    "/adspot/id/{id}": {
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "get adspot",
        "description": "Get by {id} AdSpot joined with AdSpotType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Numeric ID of the AdSpot to get",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get AdSpot by{id}",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdSpot"
                }
              }
            }
          }
        }
      }
    },
    "/adspot_stats/id/{id}": {
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "get AdSpotStats",
        "description": "Get AdSpotStats by {id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Numeric ID of the AdSpotStats to get",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of AdSpotStats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdSpotTypes"
                }
              }
            }
          }
        }
      }
    },
    "/adspot_types": {
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "get all AdSpotType's",
        "description": "Get all AdSpotType's",
        "responses": {
          "200": {
            "description": "list of available AdSpotType's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                }
              }
            }
          }
        }
      }
    },
    "/timeslots": {
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "get all TimeSlot's",
        "description": "Get all TimeSlot's",
        "responses": {
          "200": {
            "description": "list of available TimeSlot's",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        }
      }
    },
    "/timeslots_by_adspot/id/{id}": {
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "get TimeSlot",
        "description": "Get TimeSlot by {id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Numeric ID of the TimeSlot to get",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of TimeSlot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSlot"
                }
              }
            }
          }
        }
      }
    },
    "/playbacks": {
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "get all Playback's",
        "description": "Get all Playback's joined by Creative, Advertiser, TimeSlot, AdSpot\n",
        "responses": {
          "200": {
            "description": "list of Playback's'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_3"
                }
              }
            }
          }
        }
      }
    },
    "/playback/id/{id}": {
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "get TimeSlot",
        "description": "get Playback by {id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "get Playback by {id}",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playback",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playback"
                }
              }
            }
          }
        }
      }
    },
    "/playback": {
      "post": {
        "tags": [
          "developers"
        ],
        "summary": "add new Playback with Timeslot data in one request",
        "description": "Add Playback with Timeslot",
        "parameters": [
          {
            "name": "from_time",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locked",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "adspot_id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeslot_id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "creative_id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status_id",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "smart_contract",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "play_price",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "processed_at",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "item created"
          }
        }
      }
    },
    "/creatives": {
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "get all Creatives",
        "description": "Get all Creatives",
        "responses": {
          "200": {
            "description": "list of available Creatives",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "developers"
        ],
        "summary": "add new Creative",
        "description": "Add Creative",
        "requestBody": {
          "description": "Creative item to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Creative"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "item created"
          },
          "400": {
            "description": "invalid input, object invalid"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdSpot": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "TV Adspot"
          },
          "description": {
            "type": "string",
            "example": ""
          },
          "publisher_name": {
            "type": "string",
            "example": "Nmae"
          },
          "spot_type": {
            "type": "integer",
            "example": 1
          },
          "price": {
            "type": "integer",
            "example": 1
          },
          "preview_url": {
            "type": "string"
          },
          "preview_thumb_url": {
            "type": "string"
          },
          "spot_metadata": {
            "type": "string"
          },
          "likes": {
            "type": "integer",
            "example": 1
          },
          "views_amount": {
            "type": "integer",
            "example": 1
          },
          "average_time": {
            "type": "integer",
            "example": 1
          },
          "max_traffic": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "Creative": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "type": {
            "type": "string"
          },
          "nft_ref": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Playback": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "adspot_name": {
            "type": "string"
          },
          "from_time": {
            "type": "integer"
          },
          "to_time": {
            "type": "integer"
          },
          "advert_id": {
            "type": "integer"
          },
          "creative_name": {
            "type": "string"
          },
          "creative_description": {
            "type": "string"
          },
          "creative_url": {
            "type": "string"
          },
          "creative_path": {
            "type": "string"
          },
          "status_name": {
            "type": "string"
          },
          "smart_contract": {
            "type": "string"
          },
          "spot_price": {
            "type": "integer"
          },
          "play_price": {
            "type": "number",
            "format": "float"
          },
          "locked": {
            "type": "boolean"
          },
          "adspot_type_name": {
            "type": "string"
          },
          "publish_url": {
            "type": "string"
          },
          "processed_at": {
            "type": "string"
          }
        }
      },
      "AdSpotStats": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "likes": {
            "type": "integer"
          },
          "views_amount": {
            "type": "integer"
          },
          "average_time": {
            "type": "integer"
          },
          "max_traffic": {
            "type": "integer"
          }
        }
      },
      "TimeSlot": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "from_time": {
            "type": "integer"
          },
          "to_time": {
            "type": "integer"
          },
          "locked": {
            "type": "boolean"
          },
          "price": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "AdSpotTypes": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "publish_url": {
            "type": "string"
          }
        }
      },
      "inline_response_200": {
        "type": "object",
        "properties": {
          "Authorization": {
            "type": "string",
            "example": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MSwibG9naW4iOiJhZG1pbiIsIm5hbWUiOiJBZG1pbiIsIndhbGxldF9yZWYiOiJodHRwczovL2FkbWluLnJlZi8iLCJzZXNzaW9uX2V4cCI6IjIwMjItMDItMTFUMTI6MTM6MTAuNzIwNzkwIn0.9O_7nvDOR2dGaG3ShOR3p_Se\n"
          }
        }
      },
      "inline_response_200_1": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdSpotTypes"
            }
          }
        }
      },
      "inline_response_200_2": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          }
        }
      },
      "inline_response_200_3": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Playback"
            }
          }
        }
      },
      "inline_response_200_4": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Creative"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}